<mat-toolbar color="primary">
  <span id="nav-home"> NgxPmrDurationPicker</span>
</mat-toolbar>

<h3>Form Control:</h3>
<form [formGroup]="formGroup">
  <pmr-duration-picker formControlName="duration"></pmr-duration-picker>
  <span>{{formGroup.value.duration}}</span>
</form>

<h3>NgModel</h3>
<pmr-duration-picker [(ngModel)]="durationNgModel"></pmr-duration-picker>
<span>{{durationNgModel}}</span>

<h3>Only Time</h3>
<pmr-duration-picker [displayedItems]="['TH', 'TM', 'TS']" [(ngModel)]="durationTimeOnly"></pmr-duration-picker>
<span>{{durationTimeOnly}}</span>

<h3>Without label</h3>
<pmr-duration-picker [disableLabel]="true" [(ngModel)]="durationTimeOnly"></pmr-duration-picker>
<span>{{durationTimeOnly}}</span>

<br>
<br>
<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field>
