<nav>
  <mat-toolbar id="navbar" color="primary" class="mat-elevation-z5">
    <img id="angular-logo" src="assets/images/angular-white-transparent.svg" alt="angular logo">
    <span id="nav-home">pmr-duration-picker</span>
  </mat-toolbar>
</nav>

<header>
  <h3>Install</h3>
  <div id="install-cmd" class="terminal">
    <pre>npm i --save ngx-pmr-duration-picker</pre>
    <button id="btn-copy-install-cmd" mat-icon-button [cdkCopyToClipboard]="'npm i --save ngx-pmr-duration-picker'">
      <mat-icon id="copy-icon">content_copy</mat-icon>
    </button>
  </div>

  <div id="badges">
    <a href="https://www.npmjs.com/package/ngx-pmr-duration-picker" target="_blank">
      <img src="https://img.shields.io/npm/v/ngx-pmr-duration-picker.svg?style=flat-square" [title]="latestVersion"
        alt="latest version" />
    </a>
    <img src="https://img.shields.io/badge/license-MIT-blue.svg?style=flat-square" alt="license badge" />
    <a href="https://github.com/pmrelvas/pmr-angular-duration-picker/actions/workflows/build-deploy-lib.yml">
      <img src="https://github.com/pmrelvas/pmr-angular-duration-picker/actions/workflows/build-deploy-lib.yml/badge.svg" alt="github lib build status badge">
    </a>
    <a href="https://github.com/pmrelvas/pmr-angular-duration-picker" target="_blank">
      <img src="https://img.shields.io/badge/GitHub-grey.svg?logo=github&logoColor=white" alt="github badge" />
    </a>
  </div>
</header>

<main>
  <section id="main-content-container">
    <mat-tab-group>
      <mat-tab label="Overview & Examples">
        <app-overview-examples></app-overview-examples>
      </mat-tab>

      <mat-tab label="Api">
        <app-api></app-api>
      </mat-tab>

    </mat-tab-group>
  </section>
</main>

<footer>
  <div id="support">
    <h3>Support</h3>
    <a href="https://github.com/pmrelvas/pmr-angular-duration-picker#ngx-pmr-duration-picker">Documentation</a>
    <a href="https://github.com/pmrelvas/pmr-angular-duration-picker/issues">Issues</a>
  </div>
  <div id="author">
    <h3>Author</h3>
    <p>Pedro Relvas &copy; {{ currentYear }}</p>
    </div>
  <div id="license">
    <h3>License</h3>
    <p>MIT License</p>
  </div>
</footer>
