@use "@angular/material" as mat;
@include mat.core();

$pmr-ngx-duration-picker-primary: mat.define-palette(mat.$blue-grey-palette);
$pmr-ngx-duration-picker-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$pmr-ngx-duration-picker-warn: mat.define-palette(mat.$red-palette);

$pmr-ngx-duration-picker-theme: mat.define-light-theme(
  (
    color: (
      primary: $pmr-ngx-duration-picker-primary,
      accent: $pmr-ngx-duration-picker-accent,
      warn: $pmr-ngx-duration-picker-warn,
    ),
  )
);

$pmr-dark-grey: #666;
$pmr-main-grey: #f5f5f5;

// Dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$blue-grey-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pmr-ngx-duration-picker-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

code {
  font-family: "Roboto Mono", monospace;
}

.preview-code-card {
  margin: 0.5em;

  .card-header {
    font-size: 1rem;
    color: $pmr-dark-grey;
    padding: 0.2rem 0.7rem 0.5rem 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-content {
    .preview {
      display: flex;
      justify-content: center;
    }

    .code-block {
      position: relative;

      pre {
        margin: 0 !important;

        code {
          padding: 0.7rem;
        }
      }
    }
  }

  .icon-btn {
    width: 1.7rem !important;
    height: 1.7rem !important;
    padding: 0 !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;

    .mat-icon {
      font-size: 1.3rem;
      color: black;
      height: 1.3rem;
      width: 1.3rem;
    }
  }

  .btn-copy-code {
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    z-index: 1 !important;
  }

  #btn-copy-install-cmd {
    top: 0.5 !important;
  }
}

// remove tab header full width
.mat-mdc-tab {
  flex-grow: 0 !important;
}
